*{
	font-size: 10pt;
	
}
#fix-atas{
	margin-bottom:25px;
}
@media(max-width:768px){
	#fix-atas{
		margin-bottom:80px;
	}
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.42857143;
  color: #333;
}
body.view{
	padding-top:50px;
}
#page-print{
	padding:0 5px;
	background:#fff;
	max-width:100%;
	width:100%;
	font-size:10pt;
}
.atas{
	position:fixed;
	background:#E5E5E5;
	width:100%;
	padding:3px;
	height:auto;
	top:0;
	left:0;
	margin:0 0 30px 0;
	z-index:999;
	float:left;
}
#page-login{
	padding: 0;
	margin: 0;
   min-height: 800px;
	background:url("../img/bg.jpg") top center fixed;
	background-size:cover;
}

#page-login .login-panel{
	box-shadow:0px 2px 10px rgba(0,0,0,0.5);
	margin-top:20px;
}
#page-login .header-login{
	color:#fff;
	text-align:center;
	margin:80px auto 0 auto;
	text-shadow:0 1px 5px rgba(0,0,0,0.7);
}
.header-login img{
	width:100px;
	box-shadow:0 0 20px rgba(0,0,0,0.7);
	border-radius:50px;
}
.navbar-logo{
	width:30px;
	float:left;
	margin:10px 0 10px 10px;
}
#close{
	float:right;
	right:0;
	position:fixed;
	background: rgba(0,0,0,0.1);
	padding:10px;
	margin-top:100px;
	z-index:9000;
	border:solid 1px #BFBFBF;
	box-shadow:0px 1px 10px rgba(0,0,0,0.2);
	border-radius:5px;
}

/* -- PHOTO */
.photo img{
	height:100%;
	border-radius:10px;
	margin: auto 0 auto;
	border:3px solid #fff;
	box-shadow:0px 3px 10px rgba(0,0,0,0.4);
}
.photo{
	height:120px;
	width:100px;
	margin:30px auto 0 auto;
	
	
}
.photos img{
	height:100%;
	border-radius:10px;
	border:1px solid #000;
}
.photos{
	height:120px;
	width:100px;
	margin-bottom:10px;
	margin-right:30px;
	float:right;
	right:0;
}
.radio-inline:hover,
.checkbox label:hover,
.collapseme:hover{
	text-decoration:underline;
	cursor:pointer;
}
.label-chart{
	background:rgba(0,0,0,0.6);
	padding:0 2px 0 2px;
	border:1px solid #7F7F7F;
	color:#fff;
	font-size:10pt;
}
.footer{
	background-color: #e7e7e7;
}
.alerts{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0.8;
}
#divpopup{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
	z-index:2000;
	position:fixed;
}
#framepopup{
	width:80%;
	min-height:600px;
	max-height:100%;
	margin:1.5% 10% 0 10%;
	border-radius:4px;
	box-shadow:0 2px 10px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 2px 10px rgba(0,0,0,0.6);
	-moz-box-shadow:0 2px 10px rgba(0,0,0,0.6);
	-o-box-shadow:0 2px 10px rgba(0,0,0,0.6);
	-ms-box-shadow:0 2px 10px rgba(0,0,0,0.6);
}
.btn-close{
	right:0;
	top:0;
	float:right;
	margin-top:0.5%;
	margin-right:10%;
	position:absolute;
	z-index:2001;
	box-shadow:0 2px 10px rgba(0,0,0,0.6);
	background-color:#A52A2A;
	color: #fff;
}
.btn-close:hover{
	background-color:#CC2B2B;
	color: #fff;
}
.form-control-print{
	padding:3px;
	border:1px solid #fff;
	background-color:#fff;
	display: block;
	width: 100%;
}
.page-break{
	page-break-after: always;
}

::-webkit-scrollbar {width: 7px;height: 7px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);background:#D6D6D6;}
::-webkit-scrollbar-thumb {border-radius:5px;background: #C2C2C2;}
::-webkit-scrollbar-thumb:hover {background: #1E90FF;}
::-webkit-scrollbar-track:hover {}

::-moz-scrollbar {width: 7px;height: 7px;}
::-moz-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);background:#D6D6D6;}
::-moz-scrollbar-thumb {border-radius:5px;background: #C2C2C2;}
::-moz-scrollbar-thumb:hover {background: #1E90FF;}
::-moz-scrollbar-track:hover {}
@media print {
	body{
		font-size:9pt;
	}
	.print,.atas,#found{
		display:none;
	}
	body.view{
		padding-top:0;
	}
	
}
